<!-- Navbar -->
<!-- Remove ".navbar-sticky" class to make navigation bar scrollable with the page. -->
<header class="navbar navbar-sticky">

  <!-- Site Logo -->
  <a [routerLink]="['/home']" class="site-logo visible-desktop">
    <span>[</span> DAC SAN 2 MIEN
    <span>]</span>
  </a><!-- site-logo.visible-desktop -->
  <a [routerLink]="['/home']" class="site-logo visible-mobile">
    <span>[</span> DS2M <span>]</span>
  </a><!-- site-logo.visible-mobile -->

  <!-- Language Switcher -->
  <!--<div class="lang-switcher">-->
    <!--<div class="lang-toggle">-->
      <!--<img src="img/flags/GB.png" alt="English">-->
      <!--<i class="material-icons arrow_drop_down"></i>-->
      <!--<ul class="lang-dropdown">-->
        <!--<li><a href="#"><img src="img/flags/FR.png" alt="French">FR</a></li>-->
        <!--<li><a href="#"><img src="img/flags/DE.png" alt="German">DE</a></li>-->
        <!--<li><a href="#"><img src="img/flags/IT.png" alt="Italian">IT</a></li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
  <!-- .lang-switcher -->

  <!-- Main Navigation -->
  <!-- Control the position of navigation via modifier classes: "text-left, text-center, text-right" -->
  <nav class="main-navigation text-left">
    <ul class="menu">
      <li class="current-menu-item">
        <a [routerLink]="['/home']">Home</a>
      </li>
      <!--<li class="menu-item-has-children">-->
        <!--<a href="#">Shop</a>-->
        <!--<ul class="sub-menu">-->
          <!--<li><a href="shop-fullwidth-sl.html">Full Width Sidebar Left</a></li>-->
          <!--<li><a href="shop-fullwidth-sr.html">Full Width Sidebar Right</a></li>-->
          <!--<li><a href="shop-fullwidth-ft.html">Full Width Filters Top</a></li>-->
          <!--<li><a href="shop-boxed-sl.html">Boxed Sidebar Left</a></li>-->
          <!--<li><a href="shop-boxed-sr.html">Boxed Sidebar Right</a></li>-->
          <!--<li><a href="shop-boxed-ft.html">Boxed Filters Top</a></li>-->
          <!--<li><a href="shop-single.html">Single Product</a></li>-->
          <!--<li><a href="shopping-cart.html">Shopping Cart</a></li>-->
          <!--<li><a href="checkout.html">Checkout</a></li>-->
          <!--<li><a href="login.html">Login / Register Page</a></li>-->
          <!--<li><a href="account.html">User Account Page</a></li>-->
        <!--</ul>-->
      <!--</li>-->
      <li><a href="#">Nha Trang</a></li>
      <li><a href="#">Ben tre</a></li>
      <!--<li class="menu-item-has-children">-->
        <!--<a href="#">Gallery</a>-->
        <!--<ul class="sub-menu">-->
          <!--<li><a href="gallery-fullwidth-with-gap.html">Full Width With Gap</a></li>-->
          <!--<li><a href="gallery-fullwidth-no-gap.html">Full Width No Gap</a></li>-->
          <!--<li><a href="gallery-boxed-with-gap.html">Boxed With Gap</a></li>-->
          <!--<li><a href="gallery-boxed-no-gap.html">Boxed No Gap</a></li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li class="menu-item-has-children">-->
        <!--<a href="#">Multilevel</a>-->
        <!--<ul class="sub-menu">-->
          <!--<li class="submenu-item-has-children">-->
            <!--<a href="#">Submenu Item 1</a>-->
            <!--<ul class="sub-menu">-->
              <!--<li><a href="#">Submenu Item 1</a></li>-->
              <!--<li><a href="#">Submenu Item 2</a></li>-->
              <!--<li><a href="#">Submenu Item 3</a></li>-->
            <!--</ul>-->
          <!--</li>-->
          <!--<li class="submenu-item-has-children">-->
            <!--<a href="#">Submenu Item 2</a>-->
            <!--<ul class="sub-menu">-->
              <!--<li><a href="#">Submenu Item 1</a></li>-->
              <!--<li><a href="#">Submenu Item 2</a></li>-->
              <!--<li><a href="#">Submenu Item 3</a></li>-->
            <!--</ul>-->
          <!--</li>-->
          <!--<li><a href="#">Submenu Item 3</a></li>-->
          <!--<li><a href="#">Submenu Item 4</a></li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li class="menu-item-has-children">-->
        <!--<a href="#">Pages</a>-->
        <!--<ul class="sub-menu">-->
          <!--<li><a href="about.html">About</a></li>-->
          <!--<li><a href="contacts.html">Contacts</a></li>-->
          <!--<li><a href="faq.html">FAQ</a></li>-->
        <!--</ul>-->
      <!--</li>-->
      <!---->
      <!-- <li><a href="#">Liên hệ</a></li> -->
    </ul><!-- .menu -->
  </nav><!-- .main-navigation -->

  <!-- Toolbar -->
  <div class="toolbar">
    <div class="inner">
      <!-- <a href="#" class="mobile-menu-toggle"><i class="material-icons menu"></i></a> -->
      <!-- <a href="account.html"><i class="material-icons person"></i></a> -->
      <a href="https://www.facebook.com/dacsan2mien" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook" target="_blank">
        <i class="socicon-facebook"></i>
      </a>
      <a href="#" class="sb-skype" data-toggle="tooltip" data-placement="top" title="Skype">
          <i class="socicon-skype"></i>
        </a>
      <div class="cart-btn">
        <a href="shopping-cart.html">
          <i>
            <span class="material-icons shopping_basket"></span>
            <span class="count">2</span>
          </i>
        </a>
        <!-- Cart Dropdown -->
        <div class="cart-dropdown">
          <div class="cart-item">
            <a href="shop-single.html" class="item-thumb">
              <img src="assets/img/cart/item01.jpg" alt="Item">
            </a>
            <div class="item-details">
              <h3 class="item-title"><a href="shop-single.html">Concrete Lamp</a></h3>
              <h4 class="item-price">1 x $85.90</h4>
            </div>
            <a href="#" class="close-btn">
              <i class="material-icons close"></i>
            </a>
          </div><!-- .cart-item -->
          <div class="cart-item">
            <a href="shop-single.html" class="item-thumb">
              <img src="assets/img/cart/item02.jpg" alt="Item">
            </a>
            <div class="item-details">
              <h3 class="item-title"><a href="shop-single.html">Storage Box</a></h3>
              <h4 class="item-price">2 x $38.00</h4>
            </div>
            <a href="#" class="close-btn">
              <i class="material-icons close"></i>
            </a>
          </div><!-- .cart-item -->
          <div class="cart-subtotal">
            <div class="column">
              <span>Subtotal:</span>
            </div>
            <div class="column">
              <span class="amount">$161.90</span>
            </div>
          </div>
        </div><!-- .cart-dropdown -->
      </div><!-- .cart-btn -->
    </div><!-- .inner -->
  </div><!-- .toolbar -->
</header><!-- .navbar.navbar-sticky -->
