<!-- Featured Categories -->
<section class="container-fluid" style="padding-top: 7px;margin-top:55px">
  <div class="row">
    <div class="col-md-6">
      <a href="#" class="category-tile">
        <div class="inner">
          <div class="column">
            <h3 class="space-bottom-half">Bến Tre</h3>
            <p class="text-sm text-gray">Từ 50,000 VNĐ</p>
          </div>
          <div class="column">
            <div class="category-thumb">
              <img src="assets/img/ben-tre/chuot-dua.jpg" alt="Category" style="height: 300px;">
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <a href="#" class="category-tile">
        <div class="inner">
          <div class="column">
            <h3>Nha Trang</h3>
            <p class="text-sm text-gray">Từ 50,000 VNĐ</p>
          </div>
          <div class="column">
            <div class="category-thumb">
              <img src="assets/img/nha-trang/mamca.jpg" alt="Category">
            </div>
          </div>
        </div>
      </a>
    </div>
  </div><!-- .row -->
</section><!-- .container-fluid -->

<!-- Product Grid -->
<section class="container padding-top-3x">

  <!-- Bestsellers -->
  <h3 class="text-center">Best seller</h3>
  <div class="row padding-top">
    <!-- Item -->
    <div class="col-md-4 col-sm-6">
      <div class="shop-item">
        <div class="shop-thumbnail">
              <span class="item-rating text-warning">
                <i class="material-icons star"></i>
                <i class="material-icons star"></i>
                <i class="material-icons star"></i>
                <i class="material-icons star_half"></i>
                <i class="material-icons star_border"></i>
              </span>
          <a href="shop-single.html" class="item-link"></a>
          <img src="assets/img/shop/th14.jpg" alt="Shop item">
          <div class="shop-item-tools">
            <a href="#" class="add-to-whishlist" data-toggle="tooltip" data-placement="top" title=""
               data-original-title="Wishlist">
              <i class="material-icons favorite_border"></i>
            </a>
            <a href="#" class="add-to-cart">
              <em>Add to Cart</em>
              <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF"
                      stroke-width="2" stroke-linecap="square" stroke-miterlimit="10"
                      d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="shop-item-details">
          <h3 class="shop-item-title"><a href="shop-single.html">Ceramic Watch</a></h3>
          <span class="shop-item-price">
                $299.00
              </span>
        </div>
      </div><!-- .shop-item -->
    </div><!-- .col-md-4.col-sm-6 -->
    <div class="col-md-4 col-sm-6">
      <div class="shop-item">
        <div class="shop-thumbnail">
              <span class="item-rating text-warning">
                <i class="material-icons star"></i>
                <i class="material-icons star"></i>
                <i class="material-icons star"></i>
                <i class="material-icons star"></i>
                <i class="material-icons star_border"></i>
              </span>
          <a href="shop-single.html" class="item-link"></a>
          <img src="assets/img/shop/th11.jpg" alt="Shop item">
          <div class="shop-item-tools">
            <a href="#" class="add-to-whishlist" data-toggle="tooltip" data-placement="top" title=""
               data-original-title="Wishlist">
              <i class="material-icons favorite_border"></i>
            </a>
            <a href="#" class="add-to-cart">
              <em>Add to Cart</em>
              <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF"
                      stroke-width="2" stroke-linecap="square" stroke-miterlimit="10"
                      d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="shop-item-details">
          <h3 class="shop-item-title"><a href="shop-single.html">Stylish Chair</a></h3>
          <span class="shop-item-price">
                $417.00
              </span>
        </div>
      </div><!-- .shop-item -->
    </div>
    <!-- Item -->
    <div class="col-md-4 col-sm-6">
      <div class="shop-item">
        <div class="shop-thumbnail">

          <a href="shop-single.html" class="item-link"></a>
          <img src="assets/img/shop/th16.jpg" alt="Shop item">
          <div class="shop-item-tools">
            <a href="#" class="add-to-whishlist" data-toggle="tooltip" data-placement="top" title=""
               data-original-title="Wishlist">
              <i class="material-icons favorite_border"></i>
            </a>
            <a href="#" class="add-to-cart">
              <em>Add to Cart</em>
              <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF"
                      stroke-width="2" stroke-linecap="square" stroke-miterlimit="10"
                      d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="shop-item-details">
          <h3 class="shop-item-title"><a href="shop-single.html">Pendant Lamp</a></h3>
          <span class="shop-item-price">
                $27.00
              </span>
        </div>
      </div><!-- .shop-item -->
    </div><!-- .col-md-4.col-sm-6 -->
  </div><!-- .row -->
</section><!-- .container -->

<!-- Special Offer -->
<section class="fw-section bg-gray padding-top padding-bottom-2x space-top-3x">
  <div class="container">

    <!-- Special Offer -->
    <div class="info-box text-center">
      <h2 class="padding-top">Special Offer <span class="text-danger">-30%</span></h2>
      <a href="shop-single.html" class="inline">
        <img src="assets/img/shop/special-offer2.jpg" alt="Special Offer">
      </a>
      <h3 class="lead text-normal space-bottom-half"><a href="shop-single.html" class="link-title">Living Room Sofa
        Transformer</a></h3>
      <span class="lead text-normal text-gray text-crossed">$1900.00</span>
      <span class="h4 text-normal text-danger">$950.00</span><br>

      <!-- Countdown -->
      <!-- Date Format: month/day/year. "date-time" data attribute is required. -->
      <div class="countdown space-top-half padding-top" data-date-time="07/30/2017 12:00:00">
        <div class="item">
          <div class="days">00</div>
          <span class="days_ref">Days</span>
        </div>
        <div class="item">
          <div class="hours">00</div>
          <span class="hours_ref">Hours</span>
        </div>
        <div class="item">
          <div class="minutes">00</div>
          <span class="minutes_ref">Mins</span>
        </div>
        <div class="item">
          <div class="seconds">00</div>
          <span class="seconds_ref">Secs</span>
        </div>
      </div><!-- .counter -->
    </div><!-- .info-box -->
  </div>
</section>

<!-- New Arrivals -->
<section class="container padding-top-3x space-top-half">
  <h3 class="text-center">New Arrivals</h3>
  <div class="row padding-top">
    <div class="col-lg-3 col-sm-6">
      <div class="shop-item">
        <div class="shop-thumbnail">
          <span class="shop-label text-danger">Sale</span>
          <a href="#" class="item-link"></a>
          <img src="assets/img/shop/th05.jpg" alt="Shop item">
          <div class="shop-item-tools">
            <a href="#" class="add-to-whishlist" data-toggle="tooltip" data-placement="top" title=""
               data-original-title="Wishlist">
              <i class="material-icons favorite_border"></i>
            </a>
            <a href="#" class="add-to-cart">
              <em>Add to Cart</em>
              <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF"
                      stroke-width="2" stroke-linecap="square" stroke-miterlimit="10"
                      d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="shop-item-details">
          <h3 class="shop-item-title"><a href="#">Wall Clock</a></h3>
          <span class="shop-item-price">
                <span class="old-price">$69.00</span>
                $48.00
              </span>
        </div>
      </div><!-- .shop-item -->
    </div><!-- .col-lg-3.col-sm-6 -->
    <div class="col-lg-3 col-sm-6">
      <div class="shop-item">
        <div class="shop-thumbnail">
          <a href="#" class="item-link"></a>
          <img src="assets/img/shop/th06.jpg" alt="Shop item">
          <div class="shop-item-tools">
            <a href="#" class="add-to-whishlist" data-toggle="tooltip" data-placement="top" title=""
               data-original-title="Wishlist">
              <i class="material-icons favorite_border"></i>
            </a>
            <a href="#" class="add-to-cart">
              <em>Add to Cart</em>
              <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF"
                      stroke-width="2" stroke-linecap="square" stroke-miterlimit="10"
                      d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="shop-item-details">
          <h3 class="shop-item-title"><a href="#">LED Lighting</a></h3>
          <span class="shop-item-price">
                $130.00
              </span>
        </div>
      </div><!-- .shop-item -->
    </div><!-- .col-lg-3.col-sm-6 -->
    <div class="col-lg-3 col-sm-6">
      <div class="shop-item">
        <div class="shop-thumbnail">
          <a href="#" class="item-link"></a>
          <img src="assets/img/shop/th04.jpg" alt="Shop item">
          <div class="shop-item-tools">
            <a href="#" class="add-to-whishlist" data-toggle="tooltip" data-placement="top" title=""
               data-original-title="Wishlist">
              <i class="material-icons favorite_border"></i>
            </a>
            <a href="#" class="add-to-cart">
              <em>Add to Cart</em>
              <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF"
                      stroke-width="2" stroke-linecap="square" stroke-miterlimit="10"
                      d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="shop-item-details">
          <h3 class="shop-item-title"><a href="#">Alarm Clock</a></h3>
          <span class="shop-item-price">
                $178.00
              </span>
        </div>
      </div><!-- .shop-item -->
    </div><!-- .col-lg-3.col-sm-6 -->
    <div class="col-lg-3 col-sm-6">
      <div class="shop-item">
        <div class="shop-thumbnail">
          <a href="#" class="item-link"></a>
          <img src="assets/img/shop/th08.jpg" alt="Shop item">
          <div class="shop-item-tools">
            <a href="#" class="add-to-whishlist" data-toggle="tooltip" data-placement="top" title=""
               data-original-title="Wishlist">
              <i class="material-icons favorite_border"></i>
            </a>
            <a href="#" class="add-to-cart">
              <em>Add to Cart</em>
              <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF"
                      stroke-width="2" stroke-linecap="square" stroke-miterlimit="10"
                      d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="shop-item-details">
          <h3 class="shop-item-title"><a href="#">Hook Basket</a></h3>
          <span class="shop-item-price">
                $112.35
              </span>
        </div>
      </div><!-- .shop-item -->
    </div><!-- .col-lg-3.col-sm-6 -->
    <div class="col-lg-3 col-sm-6">
      <div class="shop-item">
        <div class="shop-thumbnail">
          <a href="shop-single.html" class="item-link"></a>
          <img src="assets/img/shop/th14.jpg" alt="Shop item">
          <div class="shop-item-tools">
            <a href="#" class="add-to-whishlist" data-toggle="tooltip" data-placement="top" title="Wishlist">
              <i class="material-icons favorite_border"></i>
            </a>
            <a href="#" class="add-to-cart">
              <em>Add to Cart</em>
              <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF"
                      stroke-width="2" stroke-linecap="square" stroke-miterlimit="10"
                      d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
              </svg>
            </a>
          </div>
        </div>
        <div class="shop-item-details">
          <h3 class="shop-item-title"><a href="shop-single.html">Ceramic Watch</a></h3>
          <span class="shop-item-price">
                $299.00
              </span>
        </div>
      </div><!-- .shop-item -->
    </div><!-- .col-lg-3.col-sm-6 -->
    <div class="col-lg-3 col-sm-6">
      <div class="shop-item">
        <div class="shop-thumbnail">
          <a href="shop-single.html" class="item-link"></a>
          <img src="assets/img/shop/th13.jpg" alt="Shop item">
          <div class="shop-item-tools">
            <a href="#" class="add-to-whishlist" data-toggle="tooltip" data-placement="top" title="Wishlist">
              <i class="material-icons favorite_border"></i>
            </a>
            <a href="#" class="add-to-cart">
              <em>Add to Cart</em>
              <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF"
                      stroke-width="2" stroke-linecap="square" stroke-miterlimit="10"
                      d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
              </svg>
            </a>
          </div>
        </div>
        <div class="shop-item-details">
          <h3 class="shop-item-title"><a href="shop-single.html">Storage Jar</a></h3>
          <span class="shop-item-price">
                $19.80
              </span>
        </div>
      </div><!-- .shop-item -->
    </div><!-- .col-lg-3.col-sm-6 -->
    <div class="col-lg-3 col-sm-6">
      <div class="shop-item">
        <div class="shop-thumbnail">
          <a href="shop-single.html" class="item-link"></a>
          <img src="assets/img/shop/th15.jpg" alt="Shop item">
          <div class="shop-item-tools">
            <a href="#" class="add-to-whishlist" data-toggle="tooltip" data-placement="top" title="Wishlist">
              <i class="material-icons favorite_border"></i>
            </a>
            <a href="#" class="add-to-cart">
              <em>Add to Cart</em>
              <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF"
                      stroke-width="2" stroke-linecap="square" stroke-miterlimit="10"
                      d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
              </svg>
            </a>
          </div>
        </div>
        <div class="shop-item-details">
          <h3 class="shop-item-title"><a href="shop-single.html">Tissue Holder</a></h3>
          <span class="shop-item-price">
                $76.40
              </span>
        </div>
      </div><!-- .shop-item -->
    </div><!-- .col-lg-3.col-sm-6 -->
    <div class="col-lg-3 col-sm-6">
      <div class="shop-item">
        <div class="shop-thumbnail">
          <a href="shop-single.html" class="item-link"></a>
          <img src="assets/img/shop/th16.jpg" alt="Shop item">
          <div class="shop-item-tools">
            <a href="#" class="add-to-whishlist" data-toggle="tooltip" data-placement="top" title="Wishlist">
              <i class="material-icons favorite_border"></i>
            </a>
            <a href="#" class="add-to-cart">
              <em>Add to Cart</em>
              <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF"
                      stroke-width="2" stroke-linecap="square" stroke-miterlimit="10"
                      d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
              </svg>
            </a>
          </div>
        </div>
        <div class="shop-item-details">
          <h3 class="shop-item-title"><a href="shop-single.html">Pendant Lamp</a></h3>
          <span class="shop-item-price">
                $27.00
              </span>
        </div>
      </div><!-- .shop-item -->
    </div><!-- .col-lg-3.col-sm-6 -->
  </div><!-- .row -->
</section><!-- .container -->

<!-- Brands -->
<section class="container padding-top-2x padding-bottom">
  <hr>
  <h3 class="text-center padding-top-2x">More brands</h3>
  <div class="row padding-top">
    <!-- Brand -->
    <div class="col-sm-4 col-xs-6">
      <a href="#" class="brand">
        <div class="brand-logo opacity-75">
          <img src="assets/img/brands/01.svg" alt="Brand">
        </div>
        <p class="brand-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi est corrupti sapiente
          itaque.</p>
      </a>
    </div>
    <!-- Brand -->
    <div class="col-sm-4 col-xs-6">
      <a href="#" class="brand">
        <div class="brand-logo opacity-75">
          <img src="assets/img/brands/02.svg" alt="Brand">
        </div>
        <p class="brand-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi est corrupti sapiente
          itaque.</p>
      </a>
    </div>
    <!-- Brand -->
    <div class="col-sm-4 col-xs-6">
      <a href="#" class="brand">
        <div class="brand-logo opacity-75">
          <img src="assets/img/brands/03.svg" alt="Brand">
        </div>
        <p class="brand-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi est corrupti sapiente
          itaque.</p>
      </a>
    </div>
    <!-- Brand -->
    <div class="col-sm-4 col-xs-6">
      <a href="#" class="brand">
        <div class="brand-logo opacity-75">
          <img src="assets/img/brands/04.svg" alt="Brand">
        </div>
        <p class="brand-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi est corrupti sapiente
          itaque.</p>
      </a>
    </div>
    <!-- Brand -->
    <div class="col-sm-4 col-xs-6">
      <a href="#" class="brand">
        <div class="brand-logo opacity-75">
          <img src="assets/img/brands/05.svg" alt="Brand">
        </div>
        <p class="brand-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi est corrupti sapiente
          itaque.</p>
      </a>
    </div>
    <!-- Brand -->
    <div class="col-sm-4 col-xs-6">
      <a href="#" class="brand">
        <div class="brand-logo opacity-75">
          <img src="assets/img/brands/06.svg" alt="Brand">
        </div>
        <p class="brand-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi est corrupti sapiente
          itaque.</p>
      </a>
    </div>
  </div><!-- .row -->
</section><!-- .container -->

<!-- Video Popup -->
<div class="fw-section space-top-2x padding-top-3x padding-bottom-3x"
     style="background-image: url(assets/img/video_bg.jpg);">
  <div class="container padding-top-3x padding-bottom-3x text-center">
    <div class="space-top-3x space-bottom">
      <!-- Add ".light-skin" class to alter appearance. -->
      <a href="https://player.vimeo.com/video/135832597?color=77cde3&amp;title=0&amp;byline=0&amp;portrait=0"
         class="video-popup-btn">
        <i class="material-icons play_arrow"></i>
      </a>
    </div>
    <p class="space-bottom-2x">M-Store - your reliable partner.</p>
  </div>
</div><!-- .fw-section -->

<!-- Features -->
<section class="container space-top space-bottom padding-top-3x padding-bottom-3x">
  <div class="row">
    <!-- Feature -->
    <div class="col-md-3 col-sm-6">
      <div class="feature text-center">
        <div class="feature-icon">
          <i class="material-icons location_on"></i>
        </div>
        <h4 class="feature-title">Free World-Wide Shipping</h4>
        <p class="feature-text">Free shipping on all orders over $100</p>
      </div>
    </div>
    <!-- Feature -->
    <div class="col-md-3 col-sm-6">
      <div class="feature text-center">
        <div class="feature-icon">
          <i class="material-icons autorenew"></i>
        </div>
        <h4 class="feature-title">Money Back Guarantee</h4>
        <p class="feature-text">We return money within 30 days</p>
      </div>
    </div>
    <!-- Feature -->
    <div class="col-md-3 col-sm-6">
      <div class="feature text-center">
        <div class="feature-icon">
          <i class="material-icons headset_mic"></i>
        </div>
        <h4 class="feature-title">24/7 Online Support</h4>
        <p class="feature-text">Friendly 24/7 customer support</p>
      </div>
    </div>
    <!-- Feature -->
    <div class="col-md-3 col-sm-6">
      <div class="feature text-center">
        <div class="feature-icon">
          <i class="material-icons credit_card"></i>
        </div>
        <h4 class="feature-title">Secure Online Payments</h4>
        <p class="feature-text">We posess SSL / Secure Certificate</p>
      </div>
    </div>
  </div><!-- .row -->
</section><!-- .container -->
