<!-- Featured Categories -->
<section class="container-fluid" style="padding-top: 7px;margin-top:55px">
  <div class="row">
    <div class="col-md-6">
      <a href="#" class="category-tile">
        <div class="inner">
          <div class="column">
            <h5 class="space-bottom-half">Mắm Cà Bà Tô</h5>
            <p class="text-sm text-gray">40.000 VNĐ - 1 hộp - 1/2kg</p>
            <p class="text-sm text-gray">Ngon nhứt nhói luôn nhé...</p>
          </div>
          <div class="column">
            <div class="category-thumb">
              <img src="assets/img/nha-trang/mamca.jpg" alt="Category" style="height: 300px; width: 300px;">
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <a href="#" class="category-tile">
        <div class="inner">
          <div class="column">
            <h5 class="space-bottom-half">Chả Cá Chiên</h5>
            <p class="text-sm text-gray">190.000 VNĐ - 1kg</p>
            <p class="text-sm text-gray">Rất ngon...</p>
          </div>
          <div class="column">
            <div class="category-thumb">
              <img src="assets/img/nha-trang/chacachien.jpg" alt="Category" style="height: 300px; width: 300px;">
            </div>
          </div>
        </div>
      </a>
    </div>
       
  </div>
  <div class="row">
   
    <div class="col-md-6">
      <a href="#" class="category-tile">
        <div class="inner">
          <div class="column">
            <h5 class="space-bottom-half">Chả Cá Hấp</h5>
            <p class="text-sm text-gray">200.000 VNĐ - 1kg</p>
            <p class="text-sm text-gray">Vô cùng ngon nhé...</p>
          </div>
          <div class="column">
            <div class="category-thumb">
              <img src="assets/img/nha-trang/chacahap.jpeg"  alt="Category" style="height: 300px; width: 300px;">
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-6">
      <a href="#" class="category-tile">
        <div class="inner">
          <div class="column">
            <h5 class="space-bottom-half">Bánh Tráng Xoài</h5>
            <p class="text-sm text-gray">20.000 VNĐ</p>
            <p class="text-sm text-gray">Thử mới biết ngon như thế nào...</p>
          </div>
          <div class="column">
            <div class="category-thumb">
              <img src="assets/img/nha-trang/banhtrangxoai.jpg"  alt="Category" style="height: 300px; width: 300px;">
            </div>
          </div>
        </div>
      </a>
    </div>
    
  </div>
<!-- Video Popup -->
<div class="fw-section space-top-1x padding-top-1x padding-bottom-1x"
     style="background-image: url(assets/img/nha-trang/mamca.jpg); background-repeat: no-repeat;
     background-size: 300px 300px;">
  <div class="container padding-top-1x padding-bottom-1x text-center">
    <div class="space-top-1x space-bottom">
      <!-- Add ".light-skin" class to alter appearance. -->
      <a href="https://player.vimeo.com/video/135832597?color=77cde3&amp;title=0&amp;byline=0&amp;portrait=0"
         class="video-popup-btn">
        <i class="material-icons play_arrow"></i>
      </a>
    </div>
    <p class="space-bottom-1x">M-Store - Xem quá trình chế biến mắm cà.</p>
  </div>
</div><!-- .fw-section -->