<!-- Footer -->
<footer class="footer">
  <div class="column">
    <p class="text-sm"> Need support? Call <span class="text-primary">(+84) 0919 212 871</span></p>
    <div class="social-bar text-center space-bottom">
      <a href="#" class="sb-skype" data-toggle="tooltip" data-placement="top" title="Skype">
        <i class="socicon-skype"></i>
      </a>
      <a href="https://www.facebook.com/dacsan2mien" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook" target="_blank">
        <i class="socicon-facebook"></i>
      </a>
    </div><!-- .social-bar -->
    <p class="copyright">&copy; 2018. Design with <i class="text-danger material-icons favorite"></i> by <a href="https://github.com/trilnh92">Tri Le</a>.</p>
  </div><!-- .column -->
  <div class="column">
    <h3 class="widget-title">
      Payment Methods
      <small>We support one of the following payment methods.</small>
    </h3>
    <div class="cards"><img src="assets/img/cards.png" alt="Cards"></div>
    <!-- Scroll To Top Button -->
    <div class="scroll-to-top-btn"><i class="material-icons trending_flat"></i></div>
  </div><!-- .column -->
</footer><!-- .footer -->
